lxml==4.6.2
beautifulsoup4==4.6.3
ezodf==0.3.2
pandas==0.23.4
xlrd==1.1.0
python-dateutil==2.7.3
requests==2.19.1
urllib3==1.23
selenium==3.14.0
numpy==1.15.0
geopandas==0.5.0
pyshp==2.1.0
kafka-python==1.4.6
